/*
 *  THIS CSS IS RESERVED TO GENERIC STYLES
 */

.text-align-center{
    text-align: center;
}

.display-inline-block{
    display: inline-block;
}

.position-relative{
    position: relative;
}

.display-none{
    display: none;
}