/*
 *  THIS CSS IS RESERVED TO CUSTOM STYLES
 */

.papersheet {
    text-decoration: none;
    line-height: 1.0;
    color: #8A9199;
    height: auto;
    overflow: auto;
    user-select: none;
    border-radius: 2px;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #FEFEFE;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.full-button-wrapper.full-button-wrapper{ /*Grantees changes*/
    position: relative;
    padding-right: 40px;
}

.full-button{
    position: absolute;
    width: 40px;
    height: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    right: 0;
    top: 0;

    cursor: pointer;
}

.full-button:focus {
    outline:0;
}

.full-button > .icon{
    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    color: white;

    animation: plus-out 0.3s;
    transition: all 0.3s;
}

.full-button > .icon:after{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 16px);
    font-family: Material Icons, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}




#debug .debug-info{
    display: inline-block;
    margin: 1em;
}

#debug .debug-info > pre{
    display: inline-block;
    margin: 0;
}

#debug > .load-file {
    background: #464646;
}

#debug > .load-file > .icon:after {
    content: "insert_drive_file";
}




#display > pre{
    font-size: 2em;
    font-family: Digital-7 Mono, Roboto Mono, monospace;
    margin: 0.5em;
}





#switches > .switches-ready {
    background: #00B24E;
}

#switches > .switches-ready.clicked {
    background: #db4437;
}

#switches > .switches-ready > .icon:after {
    content:"done";
}

#switches > .switches-ready.clicked > .icon:after {
    content:"undo";
}



#switches .switches{
    width: 200px;
    margin: 0 auto;
}

#switches .switches label {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: .25rem solid #777;
    transition: .25s;
    cursor: pointer;
    overflow: hidden;
    color: #777;
    font: normal 1.90rem Roboto Mono, monospace;
    text-align: center;
    vertical-align: middle;
    margin: 0.25rem;
}

#switches .switches label:after {
    content:"0";
    position: relative;
    bottom: 0.15em;
}

#switches .switches input[type=checkbox] {
    display: none;
}

#switches .switches input[type=checkbox]:checked + label {
    background: #777;
    color: #FEFEFE
}

#switches .switches input[type=checkbox]:checked + label:after {
    content:"1";
}

#switches .switches input[type=checkbox]:disabled + label{
    opacity: 0.5;
}

#switches .decimal{
    float: right;
    margin-right: 0.5em;
}

#switches .hexa{
    float: left;
    margin-left: 0.5em;
}





@media all and (min-width: 800px) {
    #switches form.switches{
        width: initial;
    }
} @media all and (min-height: 550px) {
    .papersheet {
        line-height: 1.7;
    }
}